{% extends "base.html" %}

{% block title %}Messages{% endblock %}

{% block content %}
    <h2>All Messages</h2>
    <ul class="message-list">
        {% for post in posts %}
            <li>
                <h3><a href="messages/{{ post.metadata.id }}.html">{{ post.metadata.title }}</a></h3>
                <div>{{ post.html | safe }}</div>
            </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        {% if current_page > 1 %}
            <a href="{% if current_page == 2 %}index.html{% else %}page-{{ current_page - 1 }}.html{% endif %}">Previous</a>
        {% endif %}

        {% for page in range(1, total_pages + 1) %}
            <a href="{% if page == 1 %}index.html{% else %}page-{{ page }}.html{% endif %}"
               class="{% if page == current_page %}active{% endif %}">{{ page }}</a>
        {% endfor %}

        {% if current_page < total_pages %}
            <a href="page-{{ current_page + 1 }}.html">Next</a>
        {% endif %}
    </div>
{% endblock %}
